###### Requirements without Version Specifiers ######`

wheel
python_dateutil
six
pytz
numpy
pandas
urllib3
chardet
certifi
idna
requests
pyCryptodome
json2html 
jsonpath-ng 
jsonpath_rw_ext
myst-parser

###### Requirements with Version Specifiers ######`

